# Human Development Index (HDI) Data Importer

The `HumanDevelopmentIndex` class is used to access data for the Human Development Index (HDI)

### Basic Usage

In [3]:
from bblocks.data_importers import HumanDevelopmentIndex

In [4]:
hdi = HumanDevelopmentIndex()

Get the latest data

In [5]:
df = hdi.get_data()
df.head()

INFO: Extracting HDI data
INFO: Extracting HDI metadata

,entity_code,entity_name,region_code,hdi_group,indicator_code,value,year,indicator_name
0,AFG,Afghanistan,SA,Low,hdi_rank,182.0,2022,HDI Rank
1,ALB,Albania,ECA,High,hdi_rank,74.0,2022,HDI Rank
2,DZA,Algeria,AS,High,hdi_rank,93.0,2022,HDI Rank
3,AND,Andorra,<NA>,Very High,hdi_rank,35.0,2022,HDI Rank
4,AGO,Angola,SSA,Medium,hdi_rank,150.0,2022,HDI Rank

Get the metadata

In [7]:
meta_df = hdi.get_metadata()
meta_df.head()

             indicator_name indicator_code time_range notes
0                      ISO3           iso3          -  <NA>
1          HDR Country Name        country          -  <NA>
2  Human Development Groups        hdicode          -  <NA>
3  UNDP Developeing Regions         region          -  <NA>
5                  HDI Rank       hdi_rank       2022  <NA>

Clear the cache

In [8]:
hdi.clear_cache()

INFO: Cache cleared