# International Debt Statistics importer
The `InternationalDebtStatistics` importer is used to import data from the World Bank databases.
It builds on the WorldBank importer, which is a wrapper on the excellent `wbgapi` package. 

## Basic usage

In [22]:
# Import data_importers.
from bblocks import data_importers as bbdata

# Note that the International Debt Statistics importer can also be imported directly as
# from data_importers import InternationalDebtStatistics

In [23]:
# Initialize the WorldBank importer.
ids = bbdata.InternationalDebtStatistics()

You can use the importer to download all the data for a particular indicator. The full time series can take a long time to download, as it may contain hundreds of thousands of entries. 
 
For this example, we will download all data for a single year, but you can ommit the years parameter to download all available data.

In [24]:
# Download data.
principal_data = ids.get_data('DT.AMT.MLAT.CD', years=[2023])
principal_data.sample(10)

INFO: Fetching World Bank data for series: ['DT.AMT.MLAT.CD']
INFO: Data successfully fetched from World Bank API

,year,entity_code,entity_name,indicator_code,value,counterpart_code,counterpart_entity_code,counterpart_name
38,2023,CPV,Cabo Verde,DT.AMT.MLAT.CD,18203099.6,913,None,African Dev. Bank
838,2023,LMY,Low & middle income,DT.AMT.MLAT.CD,1453424943.4,976,None,Islamic Dev. Bank
1375,2023,MDA,Moldova,DT.AMT.MLAT.CD,34023000.0,905,None,World Bank-IDA
163,2023,MRT,Mauritania,DT.AMT.MLAT.CD,2501342.0,973,None,Arab Monetary Fund
588,2023,MNA,Middle East & North Africa (excluding high inc...,DT.AMT.MLAT.CD,1223391999.0,919,None,European Investment Bank
478,2023,LAC,Latin America & Caribbean (excluding high income),DT.AMT.MLAT.CD,572011.2,918,None,European Development Fund (EDF)
938,2023,MIC,Middle income,DT.AMT.MLAT.CD,13440803.1,969,None,Nordic Investment Bank
222,2023,CIV,Cote d'Ivoire,DT.AMT.MLAT.CD,0.0,899,None,Asian Infrastructure Investment Bank
929,2023,TZA,Tanzania,DT.AMT.MLAT.CD,86504.5,969,None,Nordic Investment Bank
481,2023,ECA,Europe & Central Asia (excluding high income),DT.AMT.MLAT.CD,194350780.4,918,None,European Development Fund (EDF)

You can of course get multiple indicators at once. For example, principal and interest payments.

In [25]:
service_data = ids.get_data(['DT.AMT.MLAT.CD', 'DT.INT.MLAT.CD'], years=[2024])

service_data.sample(10)

INFO: Cache cleared
INFO: Fetching World Bank data for series: ['DT.AMT.MLAT.CD', 'DT.INT.MLAT.CD']
INFO: Data successfully fetched from World Bank API

,year,entity_code,entity_name,indicator_code,value,counterpart_code,counterpart_entity_code,counterpart_name
1481,2024,STP,Sao Tome and Principe,DT.INT.MLAT.CD,194542.1,913,None,African Dev. Bank
2097,2024,MIC,Middle income,DT.INT.MLAT.CD,29610685.0,958,None,European Relief Fund
2660,2024,JOR,Jordan,DT.INT.MLAT.CD,389772487.2,WLD,WLD,World
2931,2024,CAF,Central African Republic,DT.INT.MLAT.CD,0.0,019,None,World Trade Organization
2307,2024,TCD,Chad,DT.INT.MLAT.CD,5995591.3,976,None,Islamic Dev. Bank
1329,2024,FJI,Fiji,DT.AMT.MLAT.CD,8255593.4,901,None,World Bank-IBRD
2062,2024,TJK,Tajikistan,DT.INT.MLAT.CD,630995.0,919,None,European Investment Bank
1299,2024,DOM,Dominican Republic,DT.AMT.MLAT.CD,58185031.0,901,None,World Bank-IBRD
952,2024,IDA,IDA total,DT.AMT.MLAT.CD,28935507.2,950,None,Nordic Development Fund
2921,2024,LAC,Latin America & Caribbean (excluding high income),DT.INT.MLAT.CD,50474911.9,905,None,World Bank-IDA

The importer provides very convenient ways to filter the data before download it. For example, you can filter for specific countries and years.

In [26]:
# Instantiate a new object which will have the filters applied
ids_filtered = bbdata.InternationalDebtStatistics()
# Set the countries to get (Guatemala and Togo).
ids_filtered.set_economies(["GTM", "TGO"])

# Set the years to get to 2022 and 2023
ids_filtered.set_years([2022, 2023])

# Download principal payments on Multilateral debt
principal_filtered = ids_filtered.get_data('DT.AMT.MLAT.CD')

principal_filtered.sample(10)

INFO: Fetching World Bank data for series: ['DT.AMT.MLAT.CD']
INFO: Data successfully fetched from World Bank API

,year,entity_code,entity_name,indicator_code,value,counterpart_code,counterpart_entity_code,counterpart_name
3,2022,TGO,Togo,DT.AMT.MLAT.CD,822000.0,953,None,Arab Bank for Economic Dev. in Africa (BADEA)
4,2023,GTM,Guatemala,DT.AMT.MLAT.CD,93735000.0,910,None,Central American Bank for Econ. Integration (B...
16,2023,TGO,Togo,DT.AMT.MLAT.CD,5473809.0,976,None,Islamic Dev. Bank
17,2022,TGO,Togo,DT.AMT.MLAT.CD,13808615.8,976,None,Islamic Dev. Bank
15,2022,GTM,Guatemala,DT.AMT.MLAT.CD,236870.8,988,None,International Fund for Agricultural Dev.
28,2023,GTM,Guatemala,DT.AMT.MLAT.CD,76113000.0,901,None,World Bank-IBRD
31,2022,TGO,Togo,DT.AMT.MLAT.CD,569000.0,905,None,World Bank-IDA
20,2023,GTM,Guatemala,DT.AMT.MLAT.CD,601000.0,951,None,OPEC Fund for International Dev.
25,2022,TGO,Togo,DT.AMT.MLAT.CD,47013909.0,WLD,WLD,World
13,2022,TGO,Togo,DT.AMT.MLAT.CD,614258.1,988,None,International Fund for Agricultural Dev.

In every case, economies and years can be passed directly to the `get_data` method. That would override any filters set globally.

In [27]:
# Download GDP data with (different) filters passed directly to the method.
filtered_tgo_nga = ids.get_data('DT.AMT.MLAT.CD', economies=["TGO", "NGA"], years=[2020, 2021])

filtered_tgo_nga.sample(10)

INFO: Cache cleared
INFO: Fetching World Bank data for series: ['DT.AMT.MLAT.CD']
INFO: Data successfully fetched from World Bank API

,year,entity_code,entity_name,indicator_code,value,counterpart_code,counterpart_entity_code,counterpart_name
33,2020,NGA,Nigeria,DT.AMT.MLAT.CD,194826000.0,905,None,World Bank-IDA
32,2021,NGA,Nigeria,DT.AMT.MLAT.CD,236339000.0,905,None,World Bank-IDA
4,2021,NGA,Nigeria,DT.AMT.MLAT.CD,0.0,953,None,Arab Bank for Economic Dev. in Africa (BADEA)
35,2020,TGO,Togo,DT.AMT.MLAT.CD,0.0,905,None,World Bank-IDA
25,2020,TGO,Togo,DT.AMT.MLAT.CD,23441424.1,957,None,West African Development Bank - BOAD
29,2020,TGO,Togo,DT.AMT.MLAT.CD,34845539.3,WLD,WLD,World
22,2021,TGO,Togo,DT.AMT.MLAT.CD,1715000.0,951,None,OPEC Fund for International Dev.
19,2020,NGA,Nigeria,DT.AMT.MLAT.CD,1866710.0,976,None,Islamic Dev. Bank
15,2020,NGA,Nigeria,DT.AMT.MLAT.CD,3397690.9,988,None,International Fund for Agricultural Dev.
34,2021,TGO,Togo,DT.AMT.MLAT.CD,0.0,905,None,World Bank-IDA

The importer also makes it possible to download the most recent value for a particular indicator (as always for one or more countries). For example, for the GDP indicator.

In [28]:
# Create a new object which downloads the most recent data
ids_most_recent = bbdata.InternationalDebtStatistics()

# Set to get the 1 most recent value. This number can be a larger integer if needed.
ids_most_recent.set_most_recent_values_to_get(1)

# You can also get the most recent-non empty value by using the following method
# ids_most_recent.set_most_recent_non_empty_value(1)

# Download GDP data.
multi_most_recent = ids_most_recent.get_data('DT.AMT.MLAT.CD')

multi_most_recent.head(10)

INFO: Fetching World Bank data for series: ['DT.AMT.MLAT.CD']
INFO: Data successfully fetched from World Bank API

,year,entity_code,entity_name,indicator_code,value,counterpart_code,counterpart_entity_code,counterpart_name
0,2031,ZWE,Zimbabwe,DT.AMT.MLAT.CD,2479447.8,913,None,African Dev. Bank
1,2031,ZMB,Zambia,DT.AMT.MLAT.CD,61716485.9,913,None,African Dev. Bank
2,2031,UGA,Uganda,DT.AMT.MLAT.CD,104544615.6,913,None,African Dev. Bank
3,2031,TGO,Togo,DT.AMT.MLAT.CD,2535335.7,913,None,African Dev. Bank
4,2031,TZA,Tanzania,DT.AMT.MLAT.CD,173801354.0,913,None,African Dev. Bank
5,2031,SDN,Sudan,DT.AMT.MLAT.CD,2814773.7,913,None,African Dev. Bank
6,2031,ZAF,South Africa,DT.AMT.MLAT.CD,84016314.6,913,None,African Dev. Bank
7,2031,SOM,Somalia,DT.AMT.MLAT.CD,881698.5,913,None,African Dev. Bank
8,2031,SLE,Sierra Leone,DT.AMT.MLAT.CD,5322916.3,913,None,African Dev. Bank
9,2031,SEN,Senegal,DT.AMT.MLAT.CD,154204551.9,913,None,African Dev. Bank

## Additional tools

The importer has several other convenience methods.

For example, you can get a list of indicators that break debt service or debt stocks into their components by creditor type.

In [29]:
debt_service_indicators = ids.debt_service_indicators()
debt_service_indicators

{'DT.AMT.BLAT.CD': 'Bilateral',
 'DT.AMT.MLAT.CD': 'Multilateral',
 'DT.AMT.PBND.CD': 'Private',
 'DT.AMT.PCBK.CD': 'Private',
 'DT.AMT.PROP.CD': 'Private',
 'DT.INT.BLAT.CD': 'Bilateral',
 'DT.INT.MLAT.CD': 'Multilateral',
 'DT.INT.PBND.CD': 'Private',
 'DT.INT.PCBK.CD': 'Private',
 'DT.INT.PROP.CD': 'Private'}

In [30]:
debt_stocks_indicators = ids.debt_stocks_indicators()
debt_stocks_indicators

{'DT.DOD.BLAT.CD': 'Bilateral',
 'DT.DOD.MLAT.CD': 'Multilateral',
 'DT.DOD.PBND.CD': 'Private',
 'DT.DOD.PCBK.CD': 'Private',
 'DT.DOD.PROP.CD': 'Private'}

You can also get the data for either group directly:

In [31]:
debt_service_data = ids.get_debt_service_data(years=[2022,2023], economies="GTM")
debt_service_data.head(10)

INFO: Cache cleared
INFO: Fetching World Bank data for series: ['DT.AMT.BLAT.CD', 'DT.AMT.MLAT.CD', 'DT.AMT.PBND.CD', 'DT.AMT.PCBK.CD', 'DT.AMT.PROP.CD', 'DT.INT.BLAT.CD', 'DT.INT.MLAT.CD', 'DT.INT.PBND.CD', 'DT.INT.PCBK.CD', 'DT.INT.PROP.CD']
INFO: Data successfully fetched from World Bank API

,year,entity_code,entity_name,counterpart_code,counterpart_entity_code,counterpart_name,indicator,value
0,2022,GTM,Guatemala,005,DEU,"Germany, Fed. Rep. of",Bilateral,2466136.2
1,2022,GTM,Guatemala,005,DEU,"Germany, Fed. Rep. of",Private,1641281.3
2,2022,GTM,Guatemala,011,CHE,Switzerland,Private,24096.8
3,2022,GTM,Guatemala,050,ESP,Spain,Bilateral,760000.0
4,2022,GTM,Guatemala,050,ESP,Spain,Private,4372000.0
5,2022,GTM,Guatemala,301,CAN,Canada,Bilateral,76120.1
6,2022,GTM,Guatemala,302,USA,United States,Bilateral,907000.0
7,2022,GTM,Guatemala,431,BRA,Brazil,Bilateral,18708000.0
8,2022,GTM,Guatemala,701,JPN,Japan,Bilateral,11406054.9
9,2022,GTM,Guatemala,730,CHN,China,Bilateral,3238000.0

Or debt stocks at a more granular level.

In [32]:
debt_stocks_data = ids.get_debt_stocks_data(detailed_category=True, years=[2023], economies="GTM")

debt_stocks_data.sample(10)

INFO: Cache cleared
INFO: Fetching World Bank data for series: ['DT.DOD.BLAT.CD', 'DT.DOD.MLAT.CD', 'DT.DOD.PBND.CD', 'DT.DOD.PCBK.CD', 'DT.DOD.PROP.CD']
INFO: Data successfully fetched from World Bank API

,year,entity_code,entity_name,counterpart_code,counterpart_entity_code,counterpart_name,indicator,value
2,2023,GTM,Guatemala,050,ESP,Spain,Bilateral Stocks,4509000.0
15,2023,GTM,Guatemala,WLD,WLD,World,Bilateral Stocks,4840764180.1
4,2023,GTM,Guatemala,301,CAN,Canada,Bilateral Stocks,249660.5
13,2023,GTM,Guatemala,988,NaN,International Fund for Agricultural Dev.,Bilateral Stocks,389084.1
6,2023,GTM,Guatemala,431,BRA,Brazil,Bilateral Stocks,69905000.0
8,2023,GTM,Guatemala,730,CHN,China,Bilateral Stocks,46000000.0
0,2023,GTM,Guatemala,005,DEU,"Germany, Fed. Rep. of",Bilateral Stocks,39980005.0
1,2023,GTM,Guatemala,005,DEU,"Germany, Fed. Rep. of",Private Banks Stocks,12240085.0
16,2023,GTM,Guatemala,WLD,WLD,World,Private Banks Stocks,17895085.0
10,2023,GTM,Guatemala,909,NaN,Inter-American Dev. Bank,Bilateral Stocks,1853558000.0

You can get a dictionary of countries by income level.

In [33]:
countries_by_income = ids.get_countries_by_income_level()

# For it to be visible here, we will print the keys only
print("Keys:\n",countries_by_income.keys())

# each dictionary contains country codes
print("High income\n",countries_by_income['High income'])

Keys:
 dict_keys(['High income', 'Not classified', 'Low income', 'Lower middle income', 'Low & middle income', 'Middle income', 'Upper middle income'])
High income
 {'CHI', 'TTO', 'CUW', 'RUS', 'GUY', 'OMN', 'CYP', 'GIB', 'MLT', 'NCL', 'SVK', 'FIN', 'ATG', 'CZE', 'ARE', 'DEU', 'GRL', 'BHS', 'CHL', 'AUS', 'ITA', 'IRL', 'URY', 'MCO', 'LUX', 'PYF', 'KOR', 'BHR', 'SAU', 'ISR', 'SXM', 'SMR', 'BRN', 'IMN', 'PRI', 'SGP', 'QAT', 'MNP', 'PAN', 'CHE', 'SWE', 'VGB', 'POL', 'NRU', 'CAN', 'LTU', 'AUT', 'BRB', 'KNA', 'ABW', 'ESP', 'BEL', 'LIE', 'HRV', 'LVA', 'GUM', 'FRA', 'EST', 'SYC', 'ROU', 'AND', 'HUN', 'CYM', 'GBR', 'ASM', 'NLD', 'PLW', 'HKG', 'ISL', 'BMU', 'DNK', 'MAF', 'KWT', 'GRC', 'BGR', 'PRT', 'SVN', 'TCA', 'JPN', 'MAC', 'NOR', 'USA', 'VIR', 'FRO', 'NZL'}

Or you can get countries by lending type:

In [34]:
countries_by_lending = ids.get_countries_by_lending_type()

# For it to be visible here, we will print the keys only
print("Keys:\n",countries_by_lending.keys())

# Each dictionary contains country codes
print("IDA\n",countries_by_lending['IDA'])

Keys:
 dict_keys(['IBRD', 'Blend', 'IDA', 'Not classified'])
IDA
 {'LAO', 'BEN', 'KHM', 'BGD', 'NIC', 'TUV', 'BTN', 'MRT', 'MOZ', 'HTI', 'RWA', 'NPL', 'SLB', 'MLI', 'XKX', 'FSM', 'HND', 'NER', 'ETH', 'AFG', 'VUT', 'STP', 'COM', 'SEN', 'YEM', 'BDI', 'MMR', 'GHA', 'CIV', 'GUY', 'GMB', 'SSD', 'MHL', 'TON', 'SOM', 'TCD', 'KGZ', 'BFA', 'SDN', 'UGA', 'WSM', 'MDV', 'ZMB', 'MDG', 'LBR', 'GIN', 'ERI', 'GNB', 'LKA', 'TJK', 'KIR', 'TGO', 'SYR', 'LSO', 'TZA', 'DJI', 'COD', 'CAF', 'SLE', 'MWI'}

You can also get countries by region:

In [35]:
countries_by_region = ids.get_countries_by_region()

# For it to be visible here, we will print the keys only
print("Keys:\n",countries_by_region.keys())

# Each dictionary contains country codes
print("Africa\n",countries_by_region['Africa'])

INFO: Fetching countries by region. There are over 40 regions, so this may take a while.

Keys:
 dict_keys(['Africa Eastern and Southern', 'Africa', 'Africa Western and Central', 'Arab World', 'Sub-Saharan Africa (IFC classification)', 'East Asia and the Pacific (IFC classification)', 'Central Europe and the Baltics', 'Europe and Central Asia (IFC classification)', 'Latin America and the Caribbean (IFC classification)', 'Middle East and North Africa (IFC classification)', 'South Asia (IFC classification)', 'Caribbean small states', 'East Asia & Pacific (excluding high income)', 'Early-demographic dividend', 'East Asia & Pacific', 'Europe & Central Asia (excluding high income)', 'Europe & Central Asia', 'Euro area', 'European Union', 'Fragile and conflict affected situations', 'Heavily indebted poor countries (HIPC)', 'Latin America & Caribbean (excluding high income)', 'Latin America & Caribbean ', 'Least developed countries: UN classification', 'Late-demographic dividend', 'Middle East (developing only)', 'Middle East & North Africa', 'Middle East & North Africa (excluding high income)', 'North America', 'North Africa', 'Non-resource rich Sub-Saharan Africa countries', 'OECD members', 'Other small states', 'Pre-demographic dividend', 'Pacific island small states', 'Post-demographic dividend', 'Resource rich Sub-Saharan Africa countries', 'South Asia', 'Sub-Saharan Africa (excluding high income)', 'Sub-Saharan Africa ', 'Small states', 'Sub-Saharan Africa excluding South Africa', 'World', 'Sub-Saharan Africa excluding South Africa and Nigeria'])
Africa
 {'BEN', 'CMR', 'NGA', 'GNQ', 'MRT', 'NAM', 'ZAF', 'MOZ', 'SWZ', 'KEN', 'RWA', 'TUN', 'ZWE', 'BWA', 'MLI', 'DZA', 'NER', 'LBY', 'ETH', 'STP', 'COM', 'SEN', 'CAF', 'BDI', 'EGY', 'CIV', 'GHA', 'GMB', 'SSD', 'CPV', 'SOM', 'TCD', 'UGA', 'BFA', 'SDN', 'COG', 'ZMB', 'MDG', 'LBR', 'GIN', 'ERI', 'GNB', 'AGO', 'MUS', 'SYC', 'TGO', 'LSO', 'TZA', 'MAR', 'DJI', 'COD', 'GAB', 'SLE', 'MWI'}

Or directly access a list of African countries, for example

In [36]:
african_countries = ids.get_african_countries()

african_countries

['BEN',
 'CMR',
 'NGA',
 'GNQ',
 'MRT',
 'NAM',
 'ZAF',
 'MOZ',
 'SWZ',
 'KEN',
 'RWA',
 'TUN',
 'ZWE',
 'BWA',
 'MLI',
 'DZA',
 'NER',
 'LBY',
 'ETH',
 'STP',
 'COM',
 'SEN',
 'CAF',
 'BDI',
 'EGY',
 'CIV',
 'GHA',
 'GMB',
 'SSD',
 'CPV',
 'SOM',
 'TCD',
 'UGA',
 'BFA',
 'SDN',
 'COG',
 'ZMB',
 'MDG',
 'LBR',
 'GIN',
 'ERI',
 'GNB',
 'AGO',
 'MUS',
 'SYC',
 'TGO',
 'LSO',
 'TZA',
 'MAR',
 'DJI',
 'COD',
 'GAB',
 'SLE',
 'MWI']

You can also get the metadata of any indicator. For example for GDP.

In [37]:
metadata = ids.get_indicator_metadata('DT.AMT.MLAT.CD')
metadata

{'Aggregationmethod': 'Sum',
 'Dataset': 'International Debt Statistics',
 'IndicatorName': 'PPG, multilateral (AMT, current US$)',
 'Longdefinition': 'Public and publicly guaranteed multilateral loans include loans and credits from the World Bank, regional development banks, and other multilateral and intergovernmental agencies. Excluded are loans from funds administered by an international organization on behalf of a single donor government; these are classified as loans from governments. Principal repayments are actual amounts of principal (amortization) paid by the borrower in currency, goods, or services in the year specified. Data are in current U.S. dollars.',
 'Periodicity': 'Annual',
 'Shortdefinition': 'Public and publicly guaranteed multilateral loans include loans and credits from the World Bank, regional development banks, and other multilateral and intergovernmental agencies. Excluded are loans from funds administered by an international organization on behalf of a single donor government; these are classified as loans from governments. Principal repayments are actual amounts of principal (amortization) paid by the borrower in currency, goods, or services in the year specified. Data are in current U.S. dollars.',
 'Source': 'World Bank, International Debt Statistics.',
 'Topic': 'Economic Policy & Debt: External debt: Amortization'}

Or the available metadata for economies:

In [38]:
economies_metadata = ids.get_economies_metadata()
economies_metadata.sample(5)

,name,aggregate,longitude,latitude,region,adminregion,lendingType,incomeLevel,capitalCity
id,,,,,,,,,
STP,Sao Tome and Principe,False,6.6071,0.20618,Sub-Saharan Africa,Sub-Saharan Africa (excluding high income),IDA,Lower middle income,Sao Tome
DOM,Dominican Republic,False,-69.8908,18.47900,Latin America & Caribbean,Latin America & Caribbean (excluding high income),IBRD,Upper middle income,Santo Domingo
BTN,Bhutan,False,89.6177,27.57680,South Asia,South Asia,IDA,Lower middle income,Thimphu
TUR,Turkiye,False,32.3606,39.71530,Europe & Central Asia,Europe & Central Asia (excluding high income),IBRD,Upper middle income,Ankara
SYR,Syrian Arab Republic,False,36.3119,33.51460,Middle East & North Africa,Middle East & North Africa (excluding high inc...,IDA,Low income,Damascus