# WFP Importer

The `WFP` importer is used to import inflation and food security data from the World Food Program (WFP).

Inflation data is collected from Trading Economics and is made available on the WFP [economic explorer](https://dataviz.vam.wfp.org/economic/inflation?current_page=1). Food security data is collected from the WFP VAM [HungerMapLive tool](https://hungermap.wfp.org/).

### Basic Usage

In [3]:

from bblocks import data_importers as bbdata

#### Inflation data

You can access inflation data for a single or a list of indicators and countries. If no arguments are specified, the `get_data` method will retrieve data for all indicators and countries available.

In [4]:
wfp_infl = bbdata.WFPInflation() # initialize the WFPInflation importer
df_infl = wfp_infl.get_data(indicators="Headline inflation (YoY)", countries=["KEN", "UGA"]) # get the data as a pandas DataFrame

df_infl.head()

INFO: Importing available country IDs ...
INFO: Importing data for indicator: Headline inflation (YoY) ...
INFO: Data imported successfully for indicator: Headline inflation (YoY)

,date,value,source,indicator_name,iso3_code,country_name,unit
0,2024-10-31 00:00:00,2.7,Trading Economics,Headline inflation (YoY),KEN,Kenya,percent
1,2024-09-30 00:00:00,3.6,Trading Economics,Headline inflation (YoY),KEN,Kenya,percent
2,2024-08-31 00:00:00,4.4,Trading Economics,Headline inflation (YoY),KEN,Kenya,percent
3,2024-07-31 00:00:00,4.3,Trading Economics,Headline inflation (YoY),KEN,Kenya,percent
4,2024-06-30 00:00:00,4.6,Trading Economics,Headline inflation (YoY),KEN,Kenya,percent

To see all available inflation indicators, you can call the `available_indicators` attribute.

In [7]:
wfp_infl.available_indicators # see available indicators

['Headline inflation (YoY)', 'Headline inflation (MoM)', 'Food inflation']

#### Food Security data

You can retrieve food security data for a single or a list of countries (as ISO3 codes). By default, the resulting data will be at the national level, but you may get data at the subnational level by specifying `level="subnational"`.

In [18]:
wfp_fs = bbdata.WFPFoodSecurity() # initialize the WFPFoodSecurity importer
df_fs = wfp_fs.get_data(countries=["KEN", "UGA"]) # get the data as a pandas DataFrame

df_fs.head()

INFO: Importing national data
INFO: Importing national data for country - KEN ...
INFO: Importing national data for country - UGA ...
INFO: National data imported successfully

,date,value,value_upper,value_lower,iso3_code,country_name,indicator_name,source
0,2023-10-16 00:00:00,12969560,12969560,12969560,KEN,Kenya,people with insufficient food consumption,World Food Programme
1,2023-10-17 00:00:00,13440933,13440933,13440933,KEN,Kenya,people with insufficient food consumption,World Food Programme
2,2023-10-18 00:00:00,14104659,14104659,14104659,KEN,Kenya,people with insufficient food consumption,World Food Programme
3,2023-10-19 00:00:00,13907041,13907041,13907041,KEN,Kenya,people with insufficient food consumption,World Food Programme
4,2023-10-20 00:00:00,13795816,13795816,13795816,KEN,Kenya,people with insufficient food consumption,World Food Programme

By default, `get_data` will return national level data. Subnational data is also available by passing the `level="subnational"` argument.

In [17]:
df_fs_subnational = wfp_fs.get_data(countries=["KEN", "UGA"], level="subnational") # get the data as a pandas DataFrame
df_fs_subnational.head()

INFO: Importing available country IDs ...
INFO: Importing subnational data
INFO: Importing subnational data for country - KEN ...
INFO: Importing subnational data for country - UGA ...
INFO: Subnational data imported successfully

,date,value,value_upper,value_lower,region_name,iso3_code,country_name,indicator_name,source
0,2023-10-16 00:00:00,1865166,1865166,1865166,Eastern,KEN,Kenya,people with insufficient food consumption,World Food Programme
1,2023-10-17 00:00:00,1850322,1850322,1850322,Eastern,KEN,Kenya,people with insufficient food consumption,World Food Programme
2,2023-10-18 00:00:00,1947947,1947947,1947947,Eastern,KEN,Kenya,people with insufficient food consumption,World Food Programme
3,2023-10-19 00:00:00,1916714,1916714,1916714,Eastern,KEN,Kenya,people with insufficient food consumption,World Food Programme
4,2023-10-20 00:00:00,1783513,1783513,1783513,Eastern,KEN,Kenya,people with insufficient food consumption,World Food Programme

To see available countries call the `available_countries` attribute which returns a dataframe with available countries and relevant information

In [14]:
countries = wfp_fs.available_countries
countries.head()

  iso3_code  entity_code    data_type        country_name
0       COL           57  ACTUAL DATA            Colombia
1       DOM           72  ACTUAL DATA  Dominican Republic
2       ECU           73  ACTUAL DATA             Ecuador
3       HTI          108  ACTUAL DATA               Haiti
4       PER          195   PREDICTION                Peru

#### Caching

The imported data is cached in the object to avoid repeated downloads. At any time you can clear the cache by calling the `clear_cache` method.

In [16]:
wfp_infl.clear_cache() # clear the inflation cache
wfp_fs.clear_cache() #  clear the food security cache

INFO: Cache cleared
INFO: Cache cleared