# WFP Importer

The `WFP` importer is used to import data from the Inflation and Food Security data from the Wolrd Food Program (WFP) databases.

### Basic Usage

In [1]:
import bblocks_data_importers as bbdata

#### Inflation data

You can access inflation data for a single or a list of indicators and countries (as ISO3 codes). If no arguments are specified, the `get_data` method will retrieve data for all indicators and countries available.

In [2]:
wfp_infl = bbdata.WFPInflation() # initialize the WFPInflation importer
# wfp_infl.available_indicators # to see available indicators
df_infl = wfp_infl.get_data(indicators="Headline inflation (YoY)", countries=["KEN", "UGA"]) # get the data as a pandas DataFrame

df_infl.head()

INFO: Importing available country IDs ...
INFO: Importing data for indicator: Headline inflation (YoY) ...
INFO: Data imported successfully for indicator: Headline inflation (YoY)

,date,value,source,indicator_name,iso3_code,country_name,unit
0,2024-10-31 00:00:00,2.7,Trading Economics,Headline inflation (YoY),KEN,Kenya,percent
1,2024-09-30 00:00:00,3.6,Trading Economics,Headline inflation (YoY),KEN,Kenya,percent
2,2024-08-31 00:00:00,4.4,Trading Economics,Headline inflation (YoY),KEN,Kenya,percent
3,2024-07-31 00:00:00,4.3,Trading Economics,Headline inflation (YoY),KEN,Kenya,percent
4,2024-06-30 00:00:00,4.6,Trading Economics,Headline inflation (YoY),KEN,Kenya,percent

#### Food Security data

You can retrieve food security data for a single or a list of countries (as ISO3 codes). By default, the resulting data will be at the national level, but you may get data at the subnational level by specifying `level="subnational"`.

In [3]:
wfp_fs = bbdata.WFPFoodSecurity() # initialize the WFPFoodSecurity importer\
# wfp_fs.available_countries # to see available countries
df_fs = wfp_fs.get_data(countries=["KEN", "UGA"], level="subnational") # get the data as a pandas DataFrame

df_fs.head()

INFO: Importing subnational data
INFO: Importing subnational data for country - KEN ...
INFO: Importing subnational data for country - UGA ...
INFO: Subnational data imported successfully

,date,value,value_upper,value_lower,region_name,iso3_code,country_name,indicator_name,source
0,2023-10-16 00:00:00,1865166,1865166,1865166,Eastern,KEN,Kenya,people with insufficient food consumption,World Food Programme
1,2023-10-17 00:00:00,1850322,1850322,1850322,Eastern,KEN,Kenya,people with insufficient food consumption,World Food Programme
2,2023-10-18 00:00:00,1947947,1947947,1947947,Eastern,KEN,Kenya,people with insufficient food consumption,World Food Programme
3,2023-10-19 00:00:00,1916714,1916714,1916714,Eastern,KEN,Kenya,people with insufficient food consumption,World Food Programme
4,2023-10-20 00:00:00,1783513,1783513,1783513,Eastern,KEN,Kenya,people with insufficient food consumption,World Food Programme

The imported data is cached in the object to avoid repeated downloads. At any time you can clear the cache by calling the `clear_cache` method.

In [4]:
wfp_infl.clear_cache()
wfp_fs.clear_cache()

INFO: Cache cleared
INFO: Cache cleared