# World Bank importer
The `WorldBank` importer is used to import data from the World Bank databases. It is a
wrapper on the excellent `wbgapi` package. It provides additional convenience methods
and ensures that the data is returned in a consistent format across all importers.

## Basic usage

In [27]:
# Import data_importers.
from bblocks import data_importers as bbdata

# Note that the WorldBank importer can also be imported directly as
# from data_importers import WorldBank

In [28]:
# Initialize the WorldBank importer.
wb = bbdata.WorldBank()

You can use the importer to download all the data for a particular indicator. For example, for GDP data.

In [29]:
# Download GDP data.
gdp = wb.get_data('NY.GDP.MKTP.CD')
gdp.sample(10)

INFO: Fetching World Bank data for series: ['NY.GDP.MKTP.CD']
INFO: Data successfully fetched from World Bank API

,year,entity_code,entity_name,indicator_code,value
13301,1995,ECA,Europe & Central Asia (excluding high income),NY.GDP.MKTP.CD,306497135631.632019
9036,1990,COL,Colombia,NY.GDP.MKTP.CD,47844090709.990799
2875,2004,QAT,Qatar,NY.GDP.MKTP.CD,31734065934.065899
10261,2012,BEL,Belgium,NY.GDP.MKTP.CD,496152879924.72699
7022,1971,GNB,Guinea-Bissau,NY.GDP.MKTP.CD,204167297.397787
9448,1996,CMR,Cameroon,NY.GDP.MKTP.CD,11093538846.448299
8171,2012,SLV,El Salvador,NY.GDP.MKTP.CD,21386150000.0
8547,1967,DNK,Denmark,NY.GDP.MKTP.CD,13059064374.6287
1301,1967,TZA,Tanzania,NY.GDP.MKTP.CD,4565132047.47307
13375,2022,EMU,Euro area,NY.GDP.MKTP.CD,14224347000135.599609

You can of course get multiple indicators at once. For example, GDP and GDP per capita.

In [30]:
df = wb.get_data(['NY.GDP.MKTP.CD', 'NY.GDP.PCAP.CD'])

df.sample(10)

INFO: Cache cleared
INFO: Fetching World Bank data for series: ['NY.GDP.MKTP.CD', 'NY.GDP.PCAP.CD']
INFO: Data successfully fetched from World Bank API

,year,entity_code,entity_name,indicator_code,value
11355,2006,SSA,Sub-Saharan Africa (excluding high income),NY.GDP.MKTP.CD,975498431473.479004
21496,1997,GMB,"Gambia, The",NY.GDP.PCAP.CD,610.19903
5787,1961,KOR,"Korea, Rep.",NY.GDP.MKTP.CD,2417628736.52655
8535,1979,DNK,Denmark,NY.GDP.MKTP.CD,70366241969.207397
828,2002,TKM,Turkmenistan,NY.GDP.MKTP.CD,4462029108.72349
15332,2011,SYR,Syrian Arab Republic,NY.GDP.PCAP.CD,2971.282434
4583,1987,MEX,Mexico,NY.GDP.MKTP.CD,147542558208.888
24087,1973,BMU,Bermuda,NY.GDP.PCAP.CD,5009.29368
20795,1985,HND,Honduras,NY.GDP.PCAP.CD,1202.93756
4350,2010,MNE,Montenegro,NY.GDP.MKTP.CD,4142983843.4912

The importer provides very convenient ways to filter the data before download it. For example, you can filter for specific countries and years.

In [31]:
# Instantiate a new object which will have the filters applied
wb_filtered = bbdata.WorldBank()
# Set the countries to get (Guatemala and Togo).
wb_filtered.set_economies(["GTM", "TGO"])

# Set the years to get to 2022 and 2023
wb_filtered.set_years([2022, 2023])

# Download GDP data.
gdp_filtered = wb_filtered.get_data('NY.GDP.MKTP.CD')

gdp_filtered

INFO: Fetching World Bank data for series: ['NY.GDP.MKTP.CD']
INFO: Data successfully fetched from World Bank API

   year entity_code entity_name  indicator_code                value
0  2023         TGO        Togo  NY.GDP.MKTP.CD    9171261835.062639
1  2022         TGO        Togo  NY.GDP.MKTP.CD     8169476148.95692
2  2023         GTM   Guatemala  NY.GDP.MKTP.CD  102050473863.636002
3  2022         GTM   Guatemala  NY.GDP.MKTP.CD   95003330315.875397

In every case, economies and years can be passed directly to the `get_data` method. That would override any filters set globally.

In [32]:
# Download GDP data with (different) filters passed directly to the method.
gdp_filtered_fra_nga = wb_filtered.get_data('NY.GDP.MKTP.CD', economies=["FRA", "NGA"], years=[2020, 2021])

gdp_filtered_fra_nga

INFO: Cache cleared
INFO: Fetching World Bank data for series: ['NY.GDP.MKTP.CD']
INFO: Data successfully fetched from World Bank API

   year entity_code entity_name  indicator_code                 value
0  2021         NGA     Nigeria  NY.GDP.MKTP.CD   440838992188.478027
1  2020         NGA     Nigeria  NY.GDP.MKTP.CD   432198898467.794983
2  2021         FRA      France  NY.GDP.MKTP.CD       2959355819170.5
3  2020         FRA      France  NY.GDP.MKTP.CD  2647418691598.450195

The importer also makes it possible to download the most recent value for a particular indicator (as always for one or more countries). For example, for the GDP indicator.

In [33]:
# Create a new object which downloads the most recent data
wb_most_recent = bbdata.WorldBank()

# Set to get the 1 most recent value. This number can be a larger integer if needed.
wb_most_recent.set_most_recent_values_to_get(1)

# You can also get the most recent-non empty value by using the following method
# wb_most_recent.set_most_recent_non_empty_value(1)

# Download GDP data.
gdp_most_recent = wb_most_recent.get_data('NY.GDP.MKTP.CD')

gdp_most_recent.head(10)

INFO: Fetching World Bank data for series: ['NY.GDP.MKTP.CD']
INFO: Data successfully fetched from World Bank API

,year,entity_code,entity_name,indicator_code,value
0,2023,ZWE,Zimbabwe,NY.GDP.MKTP.CD,26538273498.8461
1,2023,ZMB,Zambia,NY.GDP.MKTP.CD,28162630953.928501
2,2023,PSE,West Bank and Gaza,NY.GDP.MKTP.CD,17396300000.0
3,2023,VNM,Viet Nam,NY.GDP.MKTP.CD,429716969049.593018
4,2023,VUT,Vanuatu,NY.GDP.MKTP.CD,1126313359.21923
5,2023,UZB,Uzbekistan,NY.GDP.MKTP.CD,90889149306.731293
6,2023,URY,Uruguay,NY.GDP.MKTP.CD,77240831587.167007
7,2023,USA,United States,NY.GDP.MKTP.CD,27360935000000.0
8,2023,GBR,United Kingdom,NY.GDP.MKTP.CD,3340032380668.040039
9,2023,ARE,United Arab Emirates,NY.GDP.MKTP.CD,504173451327.434021

## Additional tools

The importer has several other convience methods.

For example, you can get a dictionary of countries by income level.

In [34]:
countries_by_income = wb.get_countries_by_income_level()

# For it to be visible here, we will print the keys only
print("Keys:\n",countries_by_income.keys())

# each dictionary contains country codes
print("High income\n",countries_by_income['High income'])

Keys:
 dict_keys(['High income', 'Not classified', 'Low income', 'Lower middle income', 'Low & middle income', 'Middle income', 'Upper middle income'])
High income
 {'LIE', 'VGB', 'AUS', 'KNA', 'LUX', 'GUM', 'PLW', 'FIN', 'ASM', 'OMN', 'DNK', 'SVN', 'MLT', 'HRV', 'ESP', 'ATG', 'PAN', 'QAT', 'SWE', 'CHL', 'NLD', 'CHE', 'POL', 'JPN', 'AND', 'IMN', 'CZE', 'ABW', 'GBR', 'NRU', 'MCO', 'NOR', 'ARE', 'HKG', 'SGP', 'PRT', 'BGR', 'CAN', 'BRN', 'URY', 'BHS', 'SYC', 'PRI', 'HUN', 'FRO', 'AUT', 'SAU', 'NZL', 'ISL', 'LVA', 'GUY', 'GRL', 'BMU', 'KOR', 'RUS', 'TCA', 'GRC', 'SXM', 'SVK', 'IRL', 'MAF', 'BRB', 'NCL', 'FRA', 'BHR', 'ISR', 'BEL', 'CUW', 'CYP', 'ITA', 'CYM', 'USA', 'EST', 'PYF', 'TTO', 'DEU', 'SMR', 'LTU', 'KWT', 'ROU', 'GIB', 'VIR', 'MNP', 'CHI', 'MAC'}

Or you can get countries by lending type:

In [35]:
countries_by_lending = wb.get_countries_by_lending_type()

# For it to be visible here, we will print the keys only
print("Keys:\n",countries_by_lending.keys())

# Each dictionary contains country codes
print("IDA\n",countries_by_lending['IDA'])

Keys:
 dict_keys(['IBRD', 'Blend', 'IDA', 'Not classified'])
IDA
 {'HTI', 'TGO', 'GIN', 'LSO', 'BTN', 'FSM', 'MDV', 'SLE', 'SSD', 'TON', 'AFG', 'COM', 'SDN', 'MDG', 'GUY', 'KHM', 'TCD', 'DJI', 'KGZ', 'NIC', 'SEN', 'STP', 'MHL', 'LBR', 'ZMB', 'SOM', 'YEM', 'BDI', 'ERI', 'RWA', 'GMB', 'TJK', 'GNB', 'VUT', 'MLI', 'NER', 'XKX', 'SLB', 'LKA', 'BFA', 'MWI', 'CAF', 'SYR', 'MRT', 'CIV', 'TUV', 'HND', 'TZA', 'BGD', 'GHA', 'KIR', 'COD', 'LAO', 'MMR', 'ETH', 'NPL', 'WSM', 'UGA', 'MOZ', 'BEN'}

You can also get countries by region:

In [36]:
countries_by_region = wb.get_countries_by_region()

# For it to be visible here, we will print the keys only
print("Keys:\n",countries_by_region.keys())

# Each dictionary contains country codes
print("Africa\n",countries_by_region['Africa'])

INFO: Fetching countries by region. There are over 40 regions, so this may take a while.

Keys:
 dict_keys(['Africa Eastern and Southern', 'Africa', 'Africa Western and Central', 'Arab World', 'Sub-Saharan Africa (IFC classification)', 'East Asia and the Pacific (IFC classification)', 'Central Europe and the Baltics', 'Europe and Central Asia (IFC classification)', 'Latin America and the Caribbean (IFC classification)', 'Middle East and North Africa (IFC classification)', 'South Asia (IFC classification)', 'Caribbean small states', 'East Asia & Pacific (excluding high income)', 'Early-demographic dividend', 'East Asia & Pacific', 'Europe & Central Asia (excluding high income)', 'Europe & Central Asia', 'Euro area', 'European Union', 'Fragile and conflict affected situations', 'Heavily indebted poor countries (HIPC)', 'Latin America & Caribbean (excluding high income)', 'Latin America & Caribbean ', 'Least developed countries: UN classification', 'Late-demographic dividend', 'Middle East (developing only)', 'Middle East & North Africa', 'Middle East & North Africa (excluding high income)', 'North America', 'North Africa', 'Non-resource rich Sub-Saharan Africa countries', 'OECD members', 'Other small states', 'Pre-demographic dividend', 'Pacific island small states', 'Post-demographic dividend', 'Resource rich Sub-Saharan Africa countries', 'South Asia', 'Sub-Saharan Africa (excluding high income)', 'Sub-Saharan Africa ', 'Small states', 'Sub-Saharan Africa excluding South Africa', 'World', 'Sub-Saharan Africa excluding South Africa and Nigeria'])
Africa
 {'TGO', 'EGY', 'NAM', 'GIN', 'LSO', 'GAB', 'SLE', 'SSD', 'SWZ', 'COM', 'SDN', 'MDG', 'TCD', 'NGA', 'DJI', 'BWA', 'SEN', 'STP', 'CPV', 'LBR', 'LBY', 'SOM', 'ZMB', 'BDI', 'TUN', 'ERI', 'RWA', 'GMB', 'GNB', 'MLI', 'KEN', 'DZA', 'NER', 'MAR', 'MWI', 'BFA', 'CAF', 'CMR', 'MRT', 'CIV', 'MUS', 'ZWE', 'UGA', 'TZA', 'GHA', 'COD', 'AGO', 'ETH', 'SYC', 'ZAF', 'COG', 'MOZ', 'BEN', 'GNQ'}

Or directly access a list of African countries, for example

In [37]:
african_countries = wb.get_african_countries()

african_countries

['TGO',
 'EGY',
 'NAM',
 'GIN',
 'LSO',
 'GAB',
 'SLE',
 'SSD',
 'SWZ',
 'COM',
 'SDN',
 'MDG',
 'TCD',
 'NGA',
 'DJI',
 'BWA',
 'SEN',
 'STP',
 'CPV',
 'LBR',
 'LBY',
 'SOM',
 'ZMB',
 'BDI',
 'TUN',
 'ERI',
 'RWA',
 'GMB',
 'GNB',
 'MLI',
 'KEN',
 'DZA',
 'NER',
 'MAR',
 'MWI',
 'BFA',
 'CAF',
 'CMR',
 'MRT',
 'CIV',
 'MUS',
 'ZWE',
 'UGA',
 'TZA',
 'GHA',
 'COD',
 'AGO',
 'ETH',
 'SYC',
 'ZAF',
 'COG',
 'MOZ',
 'BEN',
 'GNQ']

You can also get the metadata of any indicator. For example for GDP.

In [38]:
metadata = wb.get_indicator_metadata('NY.GDP.MKTP.CD')
metadata

{'Aggregationmethod': 'Gap-filled total',
 'IndicatorName': 'GDP (current US$)',
 'License_Type': 'CC BY-4.0',
 'License_URL': 'https://datacatalog.worldbank.org/public-licenses#cc-by',
 'Limitationsandexceptions': 'Gross domestic product (GDP), though widely tracked, may not always be the most relevant summary of aggregated economic performance for all economies, especially when production occurs at the expense of consuming capital stock.\n\nWhile GDP estimates based on the production approach are generally more reliable than estimates compiled from the income or expenditure side, different countries use different definitions, methods, and reporting standards. World Bank staff review the quality of national accounts data and sometimes make adjustments to improve consistency with international guidelines. Nevertheless, significant discrepancies remain between international standards and actual practice. Many statistical offices, especially those in developing countries, face severe limitations in the resources, time, training, and budgets required to produce reliable and comprehensive series of national accounts statistics.\n\nAmong the difficulties faced by compilers of national accounts is the extent of unreported economic activity in the informal or secondary economy. In developing countries a large share of agricultural output is either not exchanged (because it is consumed within the household) or not exchanged for money.',
 'Longdefinition': "GDP at purchaser's prices is the sum of gross value added by all resident producers in the economy plus any product taxes and minus any subsidies not included in the value of the products. It is calculated without making deductions for depreciation of fabricated assets or for depletion and degradation of natural resources. Data are in current U.S. dollars. Dollar figures for GDP are converted from domestic currencies using single year official exchange rates. For a few countries where the official exchange rate does not reflect the rate effectively applied to actual foreign exchange transactions, an alternative conversion factor is used.",
 'Periodicity': 'Annual',
 'Source': 'World Bank national accounts data, and OECD National Accounts data files.',
 'Statisticalconceptandmethodology': 'Gross domestic product (GDP) represents the sum of value added by all its producers. Value added is the value of the gross output of producers less the value of intermediate goods and services consumed in production, before accounting for consumption of fixed capital in production. The United Nations System of National Accounts calls for value added to be valued at either basic prices (excluding net taxes on products) or producer prices (including net taxes on products paid by producers but excluding sales or value added taxes). Both valuations exclude transport charges that are invoiced separately by producers. Total GDP is measured at purchaser prices. Value added by industry is normally measured at basic prices.',
 'Topic': 'Economic Policy & Debt: National accounts: US$ at current prices: Aggregate indicators'}

Or the available metadata for economies:

In [39]:
economies_metadata = wb.get_economies_metadata()
economies_metadata.sample(5)

,name,aggregate,longitude,latitude,region,adminregion,lendingType,incomeLevel,capitalCity
id,,,,,,,,,
SVK,Slovak Republic,False,17.1073,48.1484,Europe & Central Asia,None,Not classified,High income,Bratislava
USA,United States,False,-77.0320,38.8895,North America,None,Not classified,High income,Washington D.C.
ARM,Armenia,False,44.5090,40.1596,Europe & Central Asia,Europe & Central Asia (excluding high income),IBRD,Upper middle income,Yerevan
MUS,Mauritius,False,57.4977,-20.1605,Sub-Saharan Africa,Sub-Saharan Africa (excluding high income),IBRD,Upper middle income,Port Louis
MNE,Montenegro,False,19.2595,42.4602,Europe & Central Asia,Europe & Central Asia (excluding high income),IBRD,Upper middle income,Podgorica